.agel-table {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.agel-table .el-table__empty-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.agel-table .virtual-scroll-checkbox .el-checkbox__inner {
  transition: none;
}

.agel-table .virtual-scroll-checkbox .el-checkbox__inner::after {
  transition: none;
}

.agel-table  .el-pagination {
  display: flex;
  align-items: center;
  padding: 0px 0px;
  justify-content: flex-end;
}